main/node_modules/*
main/.env
/testing-ground/node_modules/*
securevault-react-app/node_modules/*
securevault-react-app/dist/*
securevault-react-app/.env
```
testing-ground/nodejs/node_modules/*
testing-ground/react/node_modules/*
testing-ground/typescript/nodejs/node_modules/*
testing-ground/typescript/react/my-app/node_modules/*
testing-ground/typescript/understand-ts_new/node_modules/*
.vscode/*
node-app/node_modules/*
disableCORS/*
node-app/dist/*
node-app/secure-vault-360217-623afffad8b7.json
node-app/.env

secure-vault-client/node_modules/*
node-app/dist/app.js
node-app/dist/database.js
node-app/dist/controllers/filesController.js
node-app/dist/controllers/usersController.js
node-app/dist/models/userModel.js
node-app/dist/routes/filesRouter.js
node-app/dist/routes/usersRouter.js
secure-vault-client/dist/api/apiClient.d.ts
secure-vault-client/dist/api/apiClient.js
